/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
.link, .features-description {
    font-family: 'Raleway', sans-serif;
    color: hsl(238, 22%, 44%);
}
.features-title {
    font-family: 'Open San', sans-serif;
    color: hsl(243, 87%, 12%);
}
.navbar-container, .features-container {
    margin-left: 55px;
    margin-right: 55px;
}
.navbar-container, .first-section{
    display: flex;
}
.illustration {
    width: 550px;
    height: 325px;
}
.email-form-style {
    width: 320px;
    height: 48px;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    margin-right: 15px;
}
.submit-email-form-btn {
    font-family: 'Open San', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    background: hsl(224, 93%, 58%);
    width: 150px;
    height: 48px;
}
/* End of Utilities */
/* Desktop style */
/* Navbar */
.navbar-container {
    margin-top: 65px;
    margin-bottom: 155px;
}
.navbar-button {
    margin-left: auto;
}
.link {
    text-decoration: none;
    padding-left: 35px;
}
/* Section */
.features-container {
}
.features-title {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 25px;
}
.features-description {
    margin-bottom: 25px;
}